<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
  <br></br>
  <br></br>

  <center>
    <h2 style="color:#210196" ; allign=center> WELCOME TO ALTABA ECOM STORE</h2></center>
  <div class="srvices_main1">
    <div class="col-lg-4  col-md-4 col-sm-4">
      <div class="service_first">
        <img src="images/canon.png" alt="" />
        <h1 class="heading">I'm OLD CUSTOMER</h1>
        <p></p>
        <center>
          <div class="service_button"><a href="/orderold">Welcome Back</a></div>
        </center>
      </div>
    </div>



    <div class="col-lg-4  col-md-4 col-sm-4">
      <div class="service_first">
        <img src="images/canon.png" alt="" />
        <h1 class="heading">I'm NEW CUSTOMER</h1>
        <p></p>
        <center>
          <div class="service_button"><a href="/ordernew">Let Me In</a></div>
        </center>
      </div>
    </div>
  </div>
</body>

</html>
