<!DOCTYPE html>


<html lang="en">

<head>
  <link rel='stylesheet' href='/stylesheets/ordernew.css' />
  <!-- <link rel="stylesheet" type="text/css" href='css/ordernew.css' /> -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Website CSS style -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Website Font style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

  <title>Order New</title>
</head>

<body>
  <div class="container">
    <div class="row main">
      <div class="main-login main-center">
        <h3>Dear ( Pelanggan baru ), please input your order here:</h3>
        <form class="" method="post" action="#">

          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Name</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="address" class="cols-sm-2 control-label">Your Address</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="address" id="address" placeholder="Enter your Address" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="prod1" class="cols-sm-2 control-label">Product 1 => Cheese HotDog</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="prod1" id="prod1" placeholder="Number of order?" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="prod2" class="cols-sm-2 control-label">Product 2 => Beef Burger</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="prod2" id="prod2" placeholder="Number of order?" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="prod3" class="cols-sm-2 control-label">Product 3 => spaghetti</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="prod3" id="prod3" placeholder="Number of order?" />
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="prod4" class="cols-sm-2 control-label">OUR Best Product Of the Month: (  mis:spaghetti   )</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="prod4" id="prod4" placeholder="Number of order?" />
              </div>
            </div>
          </div>



          <div class="form-group ">
            <a href="/thanks" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button"> SUBMIT </a>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
